<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Physics solver</title>
    <link rel="stylesheet" href="./assets/css/bulma.css" />
    <link rel="stylesheet" href="./assets/css/help.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main id="app" class=" p-8 lg:px-36 xl:px-24 md:px-16">
      <div class="box p-8">
        <div class="field">
          <div class="control">
            <textarea
              class="textarea"
              :class='{"is-info":problemText.length==0 , "is-success":problemText.length>10,"is-danger":problemText.length<=10 &&problemText.length}'
              v-model="problemText"
              placeholder="اكتب نص المسائلة هنا"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="box">
        <div v-for="e in data" class="columns">
          <div class="column">
            <div class="field">
              <div class="control">
                <input
                  class="input is-primary "
                  v-model="e.body"
                  type="text"
                  placeholder="Primary input"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <input
                  class="input is-primary"
                  type="text"
                  v-model="e.type"
                  placeholder="Primary input"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <input
                  class="input is-primary"
                  type="text"
                  placeholder="Primary input"
                  v-model="e.amount"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <input
                  class="input is-primary"
                  type="text"
                  placeholder="Primary input"
                  v-model="e.unit"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="control">
              <button class="button is-link is-light" @click="removeData(e.id)">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <button @click="addData">sadsad</button>
      </div>
      <div class="box">1</div>
    </main>
    <script src="./assets/js/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script src="./assets/js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
